.hours {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
}

.hour {
  border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
